﻿<div class="container custom-container">
    <div class="card" style="max-width: 120%; max-height: 120%; padding: 5% 5% 0% 5%; margin-bottom: 5%">
        <div class="custom-label">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">@EventPlanning.Resources.Global.Resources.Label</span>
                </div> 
                <input id="custom_label" type="text" class="form-control custom-label-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="custom-description">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">@EventPlanning.Resources.Global.Resources.Description</span>
                </div>
                <input id="custom_description" type="text" class="form-control custom-description-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </div>
</div>