﻿@model KeyValuePair<int, EventPlanning.Models.ViewModels.Events.EventViewModel>

<div class="event-block">
    <a href="@this.Url.Action("Event", "Events", new { eventId = Model.Value.EventId }, this.Url.ActionContext.HttpContext.Request.Scheme)">
        @if (Model.Value.IsAccepted)
        {
            <div class="index-block-accepted">
                <img src="~/images/event-block/accepted-img.png" class="index-image-container" alt="Accepted" />
            </div>
        }
        @{
            else if (Model.Value.IsRejected)
            {
                <div class="index-block-rejected">
                    <img src="~/images/event-block/rejected-img.png" class="index-image-container" alt="Rejected" />
                </div>
            }
        }
        @{
            else if (Model.Value.IsWaitForConfirmation)
            {
                <div class="index-block-wait">
                    <img src="~/images/event-block/wait-img.png" class="index-image-container" alt="Waiting for confirmation" />
                </div>
            }
        }
        @{
            else
            {
                <div class="index-block">
                </div>
            }
        }
        <div class="data-block">
            <p id="event-block-title">
                @Model.Value.EventName
            </p>
            @if (Model.Value.EventMembersCount == Model.Value.MembersLimit)
            {
                <p id="event-block-description" style="color:crimson">@Model.Value.EventMembersCount/@Model.Value.MembersLimit</p>
            }
            else
            {
                <p id="event-block-description" style="color:#77e07d">@Model.Value.EventMembersCount/@Model.Value.MembersLimit</p>
            }
        </div>
        <div class="event-image-block">
            <img src="@Model.Value.ImageUrl" />
        </div>
        @Html.HiddenFor(x => x.Value.EventId)
    </a>
    <div class="remove-block">
        @if (Model.Value.IsOwnedEvent)
        {
            <img class="img-remove" src="~/images/event-block/remove-event.png" alt="remove event" />
        }
    </div>
</div>

