﻿@model IEnumerable<EventPlanning.Models.ViewModels.Events.EventViewModel>
@{
    ViewData["Title"] = "CreateEvent";
    ViewData["UserName"] = this.User.Identity.Name;
    int i = 0;
}

<link rel="stylesheet" href="~/css/all-events.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container events-page-body">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <div class="events-page-content">
                <div class="search-event-container">
                    <h5 class="card-title mt-3 text-center">@EventPlanning.Resources.Global.Resources.SearchForEvent </h5>
                    <div class="search-block">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input class="form-control my-0 py-1 red-border" type="text" id="search-event-input" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text red lighten-3" id="basic-text1">
                                    <i class="fas fa-search text-grey"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="events-container">
                    @foreach (var createdEvent in Model)
                    {
                        i++;
                        @await Html.PartialAsync("_EventBlock", new KeyValuePair<int, EventPlanning.Models.ViewModels.Events.EventViewModel>(i, createdEvent));
                    }
                </div>
            </div>
        </article>
    </div>
</div>

<script src="~/js/create-event/tools.js"></script>
<script type="text/javascript">
    let searchInput = document.getElementById('search-event-input');
    let eventContainer = document.getElementsByClassName('events-container')[0];
    const $events = eventContainer.getElementsByClassName('event-block');
    let temp = eventContainer.innerHTML;

    searchInput.oninput = () => {

        eventContainer.innerHTML = temp;
        let value = searchInput.value;
        let $newContent = new Array();

        Array.prototype.forEach.call($events, (element) => {
            if (element.querySelector('#event-block-title').innerHTML.toString().includes(value.toString())) {
                $newContent.push(element);                
            }
        });

        temp = eventContainer.innerHTML;
        eventContainer.innerHTML = '';        

        Array.prototype.forEach.call($newContent, (element) => {
            eventContainer.append(element);
        });
    }
    
    let $eventsToRemove = eventContainer.getElementsByClassName('event-block');

    Array.prototype.forEach.call($eventsToRemove, (event) => {
        let eventId = event.querySelector('#Value_EventId').value.toString();
        console.log(eventId);
        let removeBtn = event.querySelector('.img-remove');

        if (removeBtn != null) {

            removeBtn.onclick = async () => {
                if (confirm("@EventPlanning.Resources.Global.Resources.DoYouWantToRemoveThisEvent")) {
                    await fetch("@this.Url.Action("RemoveEvent", "Events", null, this.Url.ActionContext.HttpContext.Request.Scheme)", {
                        method: 'delete',
                        body: JSON.stringify(eventId),
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }).then((responce) => responce.json()
                    ).then((data) => window.location.replace(data.data));
                }
            }
        }
     });

</script>

