﻿@model EventPlanning.Models.ViewModels.Events.CreateEventViewModel
@{
    ViewData["Title"] = "CreateEvent";
    ViewData["UserName"] = this.User.Identity.Name;
}

<link rel="stylesheet" href="~/css/create-event.css" />

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h5 class="card-title mt-3 text-center">@EventPlanning.Resources.Global.Resources.CreateEvent </h5>
            <span asp-validation-for="EventName"></span>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                </div>
                <input asp-for="EventName" name="EventName" class="form-control event-title" placeholder="@EventPlanning.Resources.Global.Resources.EnterEventTitle" type="text">
            </div>
            <div class="choose-img-container">
                <p id="choose-img-text">@EventPlanning.Resources.Global.Resources.ChooseImageForYourEvent</p>
                <div class="images-container">
                    <div class="image-container" tabindex="1">
                        <img src="~/images/create-event/meetap-image.png" class="image-in-container" tabindex="2" alt="Meetap" />
                    </div>
                    <div class="image-container" tabindex="3">
                        <img src="~/images/create-event/meeting-image.png" class="image-in-container" tabindex="4" alt="Meeting" />
                    </div>
                    <div class="image-container" tabindex="5">
                        <img src="~/images/create-event/party-image.png" class="image-in-container" tabindex="6" alt="Party" />
                    </div>
                    <div class="image-container" tabindex="7">
                        <img src="~/images/create-event/videocall-image.png" class="image-in-container" tabindex="8" alt="Videocall" />
                    </div>
                    <div class="image-container" tabindex="9">
                        <img src="~/images/create-event/videogames-image.png" class="image-in-container" tabindex="10" alt="Games" />
                    </div>
                </div>
            </div>
            <div class="members-limit-block">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">@EventPlanning.Resources.Global.Resources.MaximumNumberOfParticipants</span>
                    </div>
                    <input id="custom_label" type="number" class="form-control members-limit-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="custom-fields-container" style="display: flex; flex-direction: column">
                @await Html.PartialAsync("_CustomField")
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary add-custom-field-btn"> @EventPlanning.Resources.Global.Resources.AddCustomField  </button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="create-event-btn"> @EventPlanning.Resources.Global.Resources.CreateEvent  </button>
            </div>
        </article>
    </div>
</div>

<script src="~/js/create-event/tools.js"></script>
<script type="text/javascript">

    let customFieldsContainer = document.getElementsByClassName('custom-fields-container')[0];
    let addCustomFieldBtn = document.getElementsByClassName('add-custom-field-btn')[0];
    let createEventButton = document.getElementById('create-event-btn');
    let $imageContainers = document.getElementsByClassName('image-container');
    let $images = document.getElementsByClassName('image-in-container');    
    let text = document.getElementById('choose-img-text');
    let membersLimitInput = document.getElementsByClassName('members-limit-input')[0];

    addCustomFieldBtn.onclick = () => {
        let customFieldPartial = document.getElementsByClassName('custom-container')[0].cloneNode(true);
        customFieldPartial = clearInputFields(customFieldPartial);
        customFieldsContainer.appendChild(customFieldPartial);
    };

    createEventButton.onclick = getDataFromInputs;

    function clearInputFields(node) {
        node.getElementsByClassName('custom-description-input')[0].value = '';
        node.getElementsByClassName('custom-label-input')[0].value = '';

        return node;
    }

    async function getDataFromInputs() {
        let $customFields = document.getElementsByClassName('custom-container');
        let eventTitle = document.getElementsByClassName('event-title')[0].value;
        let imageUrl = '';

        if (eventTitle == '') {
            alert('@EventPlanning.Resources.Global.Resources.EventTitleCannotBeEmpty');
            return;
        }

        if (membersLimitInput.value == null || membersLimitInput.value == undefined) {
            alert('@EventPlanning.Resources.Global.Resources.EnterLimitOfMembers');
            return;
        }

        if (parseInt(membersLimitInput.value <= 0)) {
            alert('@EventPlanning.Resources.Global.Resources.NumberOfParticipantsShouldBeMoreThenZero');
            return;
        }

        console.log(document.cookie);
        dictionary = new Object();

        Array.prototype.forEach.call($customFields, (element) => {
            let labeleValue = element.getElementsByClassName('custom-label-input')[0].value;
            let descriptionValue = element.getElementsByClassName('custom-description-input')[0].value;

            if (labeleValue != '' && descriptionValue != '') {
                dictionary[labeleValue] = descriptionValue;
            }
        });

        Array.prototype.forEach.call($images, (element) => {
            if (element.classList.contains('active-image')) {
                console.log(element.src);
                imageUrl = element.src;
            }
        });

        if (imageUrl == '') {
            text.classList.remove('error-img-text');    
            text.classList.add('error-img-text');
            return;
        }

        let bodyData = new Object();
        bodyData.MembersLimit = parseInt(membersLimitInput.value);
        bodyData.EventName = eventTitle;
        bodyData.EventFields = dictionary;
        bodyData.ImageUrl = imageUrl;

        await fetch("@this.Url.Action("CreateEvent", "Events", null, this.Url.ActionContext.HttpContext.Request.Scheme)", {
            method: 'post',
            body: JSON.stringify(bodyData),
            headers: {
              'Content-Type': 'application/json'
            },
        }).then((responce) => responce.json()
        ).then((data) => window.location.replace(data.data));
    }

    Array.prototype.forEach.call($imageContainers, (element) => {
        element.onclick = () => {
            Array.prototype.forEach.call($imageContainers, (element) => {
                element.classList.remove("active-image-container");            
            });
            
            text.classList.remove('error-img-text');    
            element.classList.add("active-image-container");          
        }
    });

    Array.prototype.forEach.call($images, (element) => {
        element.onclick = () => {
            Array.prototype.forEach.call($images, (element) => {
                element.classList.remove("active-image");            
            });

            text.classList.remove('error-img-text');    
            element.classList.add("active-image");
        }
    });


</script>