﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model EventPlanning.Models.ViewModels.Events.EventViewModel

@{
    ViewData["Title"] = "Event";
    ViewData["UserName"] = this.User.Identity.Name;
}

<link rel="stylesheet" href="~/css/event-page.css" />

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <div class="event-header">
                <div class="event-header-title">
                    <h3 class="card-title mt-3 text-center">@Model.EventName</h3>
                    <div class="img-status-container">
                        @if (Model.IsAccepted)
                        {
                            <img src="~/images/event-block/accepted-img.png" alt="Alternate Text" />
                        }                        
                        @{
                            else if (Model.IsRejected)
                            {
                                <img src="~/images/event-block/rejected-img.png" alt="Alternate Text" />
                            }
                        }
                        @{
                            else if (Model.IsWaitForConfirmation)
                            {
                                <img src="~/images/event-block/wait-img.png" alt="Alternate Text" />
                            }
                        }                        
                    </div>
                </div>
                <div class="header-img-container">
                    <img class="event-image" src="@Model.ImageUrl" />
                </div>
                <div class="event-members-count">
                    @if (Model.EventMembersCount >= Model.MembersLimit)
                    {
                        <p id="event-block-description" style="color:crimson">@Model.EventMembersCount/@Model.MembersLimit</p>
                    }
                    else
                    {
                        <p id="event-block-description" style="color:#77e07d">@Model.EventMembersCount/@Model.MembersLimit</p>
                    }
                </div>
            </div>
            <div class="event-body-container">
                <div class="event-fields">
                    @foreach (var keyValue in Model.EventFields)
                    {
                        @await Html.PartialAsync("_KeyValueField", keyValue);
                    }
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="subscribe-to-event-btn"> @EventPlanning.Resources.Global.Resources.SubscribeToEvent  </button>
            </div>
        </article>
    </div>
</div>

<script src="~/js/create-event/tools.js"></script>
<script type="text/javascript">

    let subsribeButton = document.getElementById('subscribe-to-event-btn');

    if ('@this.Context.User.FindFirst(ClaimTypes.NameIdentifier).Value' == '@Model.EventOwnerId') {
        subsribeButton.disabled = true;
    }

    if ('@Model.IsAccepted' == 'True') {
        subsribeButton.disabled = true;
        subsribeButton.classList.add('subscribe-to-event-btn-accept');
    }

    if ('@Model.IsRejected' == 'True') {
        subsribeButton.disabled = true;
        subsribeButton.classList.add('subscribe-to-event-btn-reject');
    }

    if ('@Model.IsWaitForConfirmation' == 'True') {
        subsribeButton.disabled = true;        
        subsribeButton.classList.add('subscribe-to-event-btn-wait');
    }

    if (@Model.EventMembersCount >= @Model.MembersLimit) {
        subsribeButton.disabled = true;        
    }

    subsribeButton.onclick = () => {
        if ('@this.Context.User.FindFirst(ClaimTypes.NameIdentifier).Value' == '@Model.EventOwnerId') {
            return;
        }
        
        if ('@Model.IsAccepted' == 'True') {
            return;
        }

        if ('@Model.IsRejected' == 'True') {
            return;
        }

        if ('@Model.IsWaitForConfirmation' == 'True') {
            return;
        }      

        fetch("@this.Url.Action("SubscribeToEvent", "Events", null, this.Url.ActionContext.HttpContext.Request.Scheme)", {
            method: 'post',
            body: JSON.stringify("@Model.EventId"),
            headers: {
               'Content-Type': 'application/json'
            },
        }).then((responce) => responce.json()
        ).then((data) => window.location.replace(data.data));
        }

</script>