﻿@{
    ViewData["Title"] = "Home Page";
    ViewData["UserName"] = this.User.Identity.Name;
}
<div class="container">

    <div class="row justify-content-around image-events-container">
        <div class="all-events-container">
            <a asp-action="AllEvents" asp-controller="Events">
                <img src="~/images/home/all-events.png" srcset="~/images/home/all-events.png" class="all-events-image image img-responsive" alt="Engagement with Eventee" />
            </a>
            <div class="all-events-text mx-auto">
                <p>@EventPlanning.Resources.Global.Resources.FindTheEventYouLike.</p>
                <p style="font-weight: 200">@EventPlanning.Resources.Global.Resources.LookingForAnEventToHaveFun</p>
            </div>
        </div>

        <div class="create-event-container">
            <a asp-action="CreateEvent" asp-controller="Events">
                <img src="~/images/home/create-event.png" srcset="~/images/home/create-event.png" class="create-event-image image img-responsive" alt="Networking on event">
            </a>
            <div class="create-event-text mx-auto">
                <p>@EventPlanning.Resources.Global.Resources.CreateYourOwnEvent.</p>
                <p style="font-weight: 200">@EventPlanning.Resources.Global.Resources.YouCanCreateYourOwnEvent</p>
            </div>
        </div>
    </div>
</div>
