﻿.event-block {
    display: flex;
    flex-direction: row;
    width: 40vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    margin-top: 5%;
}

.event-block > a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.index-image-container {
    max-height: 3vw;
}

.index-block-wait,
.index-block-rejected,
.index-block-accepted,
.index-block {
    width: 20%;
    border-radius: 10px 0px 0px 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-block {
    background: linear-gradient(147deg, rgba(23,27,249,0.9805672268907563) 0%, rgba(138,173,255,1) 100%);
}

.index-block-wait {
    background: linear-gradient(147deg, rgba(202,251,252,0.9805672268907563) 0%, rgba(127,216,245,1) 100%);
}

.index-block-rejected {
    background: linear-gradient(147deg, rgba(255,59,69,0.9805672268907563) 0%, rgba(255,170,192,1) 100%);
}

.index-block-accepted {
    background: linear-gradient(147deg, rgba(202,252,208,0.9805672268907563) 0%, rgba(127,245,143,1) 100%);
}


.data-block {
    width: 50%;
    background-color: white;
    padding-left: 3%;
    padding-top: 3%;
}

.event-image-block > img {
    max-height: 80%;
}

.events-page-content {
    width: 120%;
    flex-direction: column;
}

.event-image-block {
    background-color: white;
}

.events-container {
    max-width: 200%;
    flex-direction: column;
}

.index-block,
.event-image-block,
.events-container,
.events-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-block {
    display: flex;
}

.remove-block > img {
    max-height: 2vw;
}
