﻿.add-custom-field-btn {
    width: 30%;
    font-size: 1.2vh;
    margin-left: 5%;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.image-container > img {
    max-height: 60px;
    cursor: pointer;
    outline: none;
}

.choose-img-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    border-radius: 100%;
}
.choose-img-text {
    font-weight: 400;
    font-size: 5vh;
}

.image-container > img:hover {
    max-height: 70px;
}

.image-container:hover {
    background-color:gainsboro;
}

.active-image-container {
    background-color: gainsboro;
}

.active-image {
    max-height: 70px;
}

.error-img-text {
    color: crimson;
}