﻿.event-body-container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.event-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-fields {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.event-field-key {
    font-weight: 700;
}

.event-header-title {
    width: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.subscribe-to-event-btn-reject {
    background-color: #ff7a78 !important;
}

.subscribe-to-event-btn-accept {
    background-color: #aaffbd !important;
}

.subscribe-to-event-btn-wait {
    background-color: #8aadff !important;
}

.img-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.img-status-container > img {
    max-height: 5vh;
}
