﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "InfoPage";
}

    <div class="container events-page-body">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                @foreach (string information in Model)
                {
                    <p>@information</p>
                    <br/>
                }
            </article>
        </div>
    </div>

