﻿
@{
    ViewData["Title"] = "EmailConfirmation";
}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h3>@String.Format(EventPlanning.Resources.Global.Resources.ConfirmationEmailSentTo, ViewData["Email"])</h3>
            </article>
        </div>
    </div>

