﻿@model EventPlanning.Models.ViewModels.Users.UserAuthenticationModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/registration.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h5 class="card-title mt-3 text-center">
                @EventPlanning.Resources.Global.Resources.LogIn @EventPlanning.Resources.Global.Resources.Or <a asp-action="Register" asp-controller="Account">@EventPlanning.Resources.Global.Resources.CreateAccount</a>
            </h5>
            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <span asp-validation-for="Email"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="Email" name="email" class="form-control" placeholder="@EventPlanning.Resources.Global.Resources.EnterEmail" type="email">
                </div>
                <span asp-validation-for="Password"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="@EventPlanning.Resources.Global.Resources.EnterPassword" type="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> @EventPlanning.Resources.Global.Resources.LogIn  </button>
                </div>
            </form>
        </article>
    </div>
</div>
