﻿    <div>
        <p style="font-weight: 600">Hi, {0}<p />
        <p>{1} ({2}) senе you a request to attend the "{3}" event.</p>
        <a href="{4}">
            <input type="submit" style="background-color: green" value="Accept" />
        </a>
        <br />
        <a href="{5}">
            <input type="submit" style="background-color: red" value="Reject" />
        </a>
    </div>
